@import 'highlight.js/styles/ocean.css';
@import './normalise.scss';
@import './vs2015.scss';

.layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px 15px;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  min-height: 100vh;
}

/* Documentation site component styles */
.example {
  width: 75%;
  border: solid 1px #d3d3d3;
  padding: 20px 30px;
  height: fit-content;
  background: #fff;

  &__title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  &__text {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
  }
}

.example__code {
  padding: 15px;
  border: solid 1px #d3d3d3;
  margin: 15px 0;
}

.example__component {
  padding: 20px;
}

.navigation {
  width: 15%;
  list-style-type: none;
  border: solid 1px #ddd;
  padding: 15px;
  height: fit-content;
  background: #fff;

  li {
    margin-bottom: 15px;
  }
}

.list-item {
  p {
    text-decoration: underline;
    margin-bottom: 15px !important;
    font-size: 18px !important;
  }

  li {
    list-style: circle;
    list-style-position: inside;
    padding-bottom: 10px;
  }

  margin-bottom: 20px !important;
}

.note {
  padding: 10px;
  margin: 20px 0;

  strong {
    margin-bottom: 10px !important;
  }

  &--danger {
    background-color: #ffdddd;
    border-left: 6px solid #9c8e8d;
  }

  &--success {
    background-color: #d9eee1;
    border-left: 6px solid #9c8e8d;
  }

  &--info {
    background-color: #e7f3fe;
    border-left: 6px solid #9c8e8d;
  }

  &__warn {
    background-color: #ffffcc;
    border-left: 6px solid #9c8e8d;
  }

  p {
    padding: 5px;
  }
}
